.subtitle{
    margin-top: 9%;
    text-align: center;
    font-size: 3em;
}

.desc {
    width: 40%;
    margin-left: 35%;
    font-size: 130%;
    padding: 2%;
}

.card {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width:30%;
    padding : 4em;
position: relative; 
   margin-left:15%;
   z-index: -1;
}

proj.desc {
    margin-top: 1em;
    padding: 2em;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

.wrapper {
display: flex;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:rgb(193, 211, 199);

}

@media only screen and (max-width: 800px) {
    proj.desc{
        font-size: 1em;
    }
    h1{
        font-size:1.4em;
        
    }
    .card {
        border: 1px solid rgb(145, 144, 144);
        box-shadow: 0 2px 2px #ccc;
        width:50%;
        padding : 1em;
    position: relative; 
       margin-left:15%;
    }
}
