.subtitle{
    margin-top: 9%;
    text-align: center;
    font-size: 3em;
}

.desc {
    width: 40%;
    margin-left: 35%;
    font-size: 130%;
    padding: 2%;
}

.card {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 24em;
    height: 20em;
    padding : 2em;
    position:center; 
    margin-left:24em;
}

proj.desc {
    margin-top: 1em;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

.wrapper {
display: flex;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:rgb(193, 211, 199);

}