.title{
    margin-top: 9%;
    text-align: center;
    font-size: 4em;
}

.desc {
    width: 30%;
    margin-left: 35%;
    font-size: 150%;
}

.icon {
  color: black;
}

.icon:hover {
  color:rgb(255, 235, 238);
}

.btn-border {
  color:rgb(0, 0, 0);
  border: .4em solid rgb(255, 230, 230);
  overflow: hidden;
  z-index: 1;
}
  
.btn-border:hover, .btn-border:focus {
  color: rgb(0, 0, 0);
}

.btn-border:before {
  content: '';
  position: absolute;
  background-color: rgb(255, 235, 238);
  right: 100%;
  z-index: -1;
  transition: right 0.2s ease-in-out;
  }
  
.btn {
  padding: 1%;
  cursor: pointer;
  font-size: 120%;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
  margin-right:1%;
}