.btn-border:before {
    content: '';
    position: absolute;
    background-color: rgb(255, 231, 234);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
}
    
.btn-border:hover:before, .btn-border:focus:before {
    right: 0;
}

.btn-border {
    color:rgb(0, 0, 0);
    border: 2px solid rgb(255, 230, 230);
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 48%;
}
      
btn-border:hover, .btn-border:focus {
    color: rgb(20, 20, 20);
}
      