.title{
    margin-top: 9%;
    text-align: center;
    font-size: 4em;
}

.new-line{
    width: 5%;
    margin-left: 20%;
    font-size: 130%;
}
.resume-fill-in{
    width: 30%;
    margin-left: 35%;
    font-size: 120%;
    justify-content: center;
    flex-direction: column;

}