@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  height: 100%;
  background-color: #FFFCFC;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
  font-family: Montserrat;

  height: 100%;
}
